script#chat_box(type='text/html')
  .chat-box(data-id='999')
    {{> chat_box_text }}

script#chat_box_text(type='text/html')
  p(class="{{ lang }}")
    | {{ msg }}
    
    span.time(title="{{ time }}") {{ time }}

script#chat_notice(type='text/html')
  .notice(data-user="{{ user }}")
    |  {{ noticeMsg }}
    span.time(title="{{ time }}") {{ time }}

script#people_box(type='text/html')
  a(class='{{ status }}', href='#', data-username='{{ nickname }}', data-provider='{{ provider }}')
    b
    | {{ nickname }}



// script#loading(type="text/html")
//    .loading
//        i.fa.fa-spinner.fa-spin

// script#nullbox(type="text/html")
//     .nullbox.header.ui.icon
//         i.circular.icon 这里还是空的



script#title_template(type='text/html')
  | {{#count}} ({{ count }}) {{/count}} Perber
