script#chat_box(type='text/html')
    .chat-box(data-id="{{ id }}", data-retained="{{ retained }}", class="retained_{{ retained }}")
        {{> chat_box_text }}

script#chat_box_text(type='text/html')
    p(class="{{ lang }} inner")
        | {{ msg }}
        span.time(title="{{ time }}") {{ time }}

script#music_box(type='text/html')
    .chat-box(data-id="{{ id }}", data-retained="{{ retained }}", class="retained_{{ retained }}")
        .musicBoxWapper.inner
            figure.musicBox
                .cover(style="background-image:url({{ cover }});background-size: 110%;")
                .playerInner
                    .music_info
                        figcaption.music_title {{ title }}
                        div
                            span.music_artist {{ artist }}
                    .cp-jplayer(id="jquery_jplayer_{{ id }}", data-id="{{ id }}", data-location="{{ location }}")
                    .cp-container(id="cp_container_{{ id }}")
                        .cp-buffer-holder
                            .cp-buffer-1
                            .cp-buffer-2
                        .cp-progress-holder
                            .cp-progress-1
                            .cp-progress-2
                        .cp-circle-control
                        ul.cp-controls
                            li
                                a.cp-play(href="javascript:void(0)", tabindex="1")
                                    | play
                            li
                                a.cp-pause(href="javascript:void(0)", tabindex="1", style="display:none;")
                                    | pause

                    // .zenPlayer(data-location="{{ location }}", id="{{ id }}")
                    //     span.player
                    //     span.circle
                    //     span.progress
                    //     span.buffer
                    //     span.drag
                    //     .button
                    //         span.icon.play
                    //         span.icon.pause
            span.time(title="{{ time }}") {{ time }}
            span.xiami_icon
                a(href="{{ songOriginal }}", target="_blank") xiami

script#loading(type="text/html")
   .loading
       i.fa.fa-spinner.fa-spin

script#nullbox(type="text/html")
    .nullbox.header.ui.icon
        i.circular.icon.circle

script#progress(type="text/html")
    .progressWrapper
        .progress

script#upload_progress(type="text/html")
    .ui.bottom.attached.progress.green
        .bar

script#image_preview(type="text/html")
    #imagePreview
        .imgbox
            #previewInner(style="background-image:url({{ path }});background-size: cover;")
        #previewControl
            .buttons.ui
                a(data-id="{{ key }}", class="button ui icon red delete", title='Delete')
                    i(class='fa fa-times')
                .or
                a(data-id="{{ key }}", class="ui button green icon publish", title='Publish')
                    i(class='fa fa-check')


script#confirm_template(type='text/html')
    .confirm
        i(class='fa fa-times-circle delete', title='Delete')
        i(class='fa fa-minus-circle cancel', title='Cancel')

script#title_template(type='text/html')
    | {{#count}} ({{ count }}) {{/count}} Perber

script#about_content_template(type='text/html')
    .intro-wrap
        .intro-wrap-overlay
        .intro-wrap-content
            #IntroInner
                #Logo
                    i(class="fa fa-circle-o")
                    span Perber
                | Not a community, not a forum, not a micro-blog, not a chat room. <br>No follow, no timeline, no notification, no registration. <br><br>Maybe you can think of Perber as a blackboard in the square, anyone can put on the cloak into the square, write text and paste picture on the blackboard, anyone can also put them cleared. -- <b>any information published by anyone may also be deleted by anyone.</b>
                //.author
                //    | Made by J.Y Han
                .link
                    a(href="https://github.com/naoyeye/Perber", target="_blank", class="github", title="Github")
                        i(class="fa fa-github")
                    a(href="https://trello.com/b/uWKLCDxb/perber", target="_blank", class="trello", title="Trello")
                        i(class="fa fa-trello")
            .intro-wrap-close

script#usage_content_template(type='text/html')
    .intro-wrap
        .intro-wrap-overlay
        .intro-wrap-content
            #IntroInner
                h3 'Hide yourselves, do cleanup'
                | Tips:<br><br>
                p
                    | * Hold the white block can delete it.<br>
                    | * When you keep Perber opening in your browser and  switch to another tab, Perber will remind the new messages.<br>
                    | * Do not be evil. Do not send spam. Do not waste time.<br>
                    | * How to post picture? That is a secret. :p
            .intro-wrap-close

script#notice_template(type='text/html')
    .notice
        .noticeInner
            |{{ text }}
        


