script#chat_box(type='text/html')
  .chat-box
    {{> chat_box_text }}

script#chat_box_text(type='text/html')
  p(class="{{ en }}")
    | {{ msg }}
    
    time.time(datetime="{{ time }}") {{ time }}

script#chat_notice(type='text/html')
  .notice(data-user="{{ user }}")
    |  {{ noticeMsg }}
    time.time {{ time }}

script#people_box(type='text/html')
  a(class='{{ status }}', href='#', data-username='{{ nickname }}', data-provider='{{ provider }}')
    b
    | {{ nickname }}

script#title_template(type='text/html')
  | {{#count}} ({{ count }}) {{/count}} {{ roomName }} Perber