/* 
* @Author: hanjiyun
* @Date:   2013-11-02 21:18:23
* @Email:  jiyun@han.im
* @Last modified by:   hanjiyun
* @Last Modified time: 2013-11-04 03:27:42
*/

/*

                              _,add8ba,
                            ,d888888888b,
                           d8888888888888b                        _,ad8ba,_
                          d888888888888888)                     ,d888888888b,
                          I8888888888888888 _________          ,8888888888888b
                __________`Y88888888888888P"""""""""""baaa,__ ,888888888888888,
            ,adP"""""""""""9888888888P""^                 ^""Y8888888888888888I
         ,a8"^           ,d888P"888P^                           ^"Y8888888888P'
       ,a8^            ,d8888'                                     ^Y8888888P'
      a88'           ,d8888P'                                        I88P"^
    ,d88'           d88888P'                                          "b,
   ,d88'           d888888'                                            `b,
  ,d88'           d888888I                                              `b,
  d88I           ,8888888'            ___                                `b,
 ,888'           d8888888          ,d88888b,              ____            `b,
 d888           ,8888888I         d88888888b,           ,d8888b,           `b
,8888           I8888888I        d8888888888I          ,88888888b           8,
I8888           88888888b       d88888888888'          8888888888b          8I
d8886           888888888       Y888888888P'           Y8888888888,        ,8b
88888b          I88888888b      `Y8888888^             `Y888888888I        d88,
Y88888b         `888888888b,      `""""^                `Y8888888P'       d888I
`888888b         88888888888b,                           `Y8888P^        d88888
 Y888888b       ,8888888888888ba,_          _______        `""^        ,d888888
 I8888888b,    ,888888888888888888ba,_     d88888888b               ,ad8888888I
 `888888888b,  I8888888888888888888888b,    ^"Y888P"^      ____.,ad88888888888I
  88888888888b,`888888888888888888888888b,     ""      ad888888888888888888888'
  8888888888888698888888888888888888888888b_,ad88ba,_,d88888888888888888888888
  88888888888888888888888888888888888888888b,`"""^ d8888888888888888888888888I
  8888888888888888888888888888888888888888888baaad888888888888888888888888888'
  Y8888888888888888888888888888888888888888888888888888888888888888888888888P
  I888888888888888888888888888888888888888888888P^  ^Y8888888888888888888888'
  `Y88888888888888888P88888888888888888888888888'     ^88888888888888888888I
   `Y8888888888888888 `8888888888888888888888888       8888888888888888888P'
    `Y888888888888888  `888888888888888888888888,     ,888888888888888888P'
     `Y88888888888888b  `88888888888888888888888I     I888888888888888888'
       "Y8888888888888b  `8888888888888888888888I     I88888888888888888'
         "Y88888888888P   `888888888888888888888b     d8888888888888888'
            ^""""""""^     `Y88888888888888888888,    888888888888888P'
                  Normand    "8888888888888888888b,   Y888888888888P^
                  Veilleux    `Y888888888888888888b   `Y8888888P"^
                                "Y8888888888888888P     `""""^
                                  `"YY88888888888P'
                                       ^""""""""'

*/

/*******************************
        Highlighted Colors
*******************************/

::-webkit-selection {
  background-color: #FFFFCC;
  color: #555555;
}
::-moz-selection {
  background-color: #FFFFCC;
  color: #555555;
}
::selection {
  background-color: #FFFFCC;
  color: #555555;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection {
  background-color: #F1C1C2;
  color: #222222;
}
h1::selection,
h2::selection,
h3::selection {
  background-color: #F1C1C2;
  color: #222222;
}
.ui *::-moz-selection {
  background-color: #CCE2FF;
}
.ui *::selection {
  background-color: #CCE2FF;
}

/*******************************
             Global
*******************************/
img{max-width: 100%}

html,
body {
    font-size: 15px;
    height: 100%
}

body {
    font-family: "Roboto", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0px;
    padding: 0px;
    color: #555555;
    min-width: 310px;

    font-weight: 300;
    /*letter-spacing: 1px;*/
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  color:#fff;
}
.ui.grid{margin: 0;}

/*
p,
ul,
.ui.grid,
li {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size-adjust: none;
}*/

ul,ol,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.list {
  list-style-type: disc;
}
ul.list li {
  list-style-position: outside;
}


/* text and headers */
h1 {
  margin: 0px 0px 20px;
  padding: 50px 0px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
h4 + p {
  margin: 0px 0px 20px;
}
pre {
  background-color: #F0F0F0;
}
pre.console {
  background-color: transparent;
  line-height: 1.6;
  font-family:  'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  height: 300px;
  overflow: auto;
}
code {
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-family: "Courier New";
  font-size: 14px;
  margin: 0.25em;
  padding: 0.125em 0.5em;
  vertical-align: middle;
}
pre code {
  border: none;
  padding: 0px;
}
table pre,
table code {
  margin: 0px !important;
  padding: 0px;
  background-color: transparent;
}
p {
  margin: 1em 0em;
}
p:first-child {
  margin-top: 0em;
}
p:last-child {
  margin-bottom: 0em;
}

/* links */
a {
  color: #009FDA;
  text-decoration: none;
}
a:hover {
  color: #00BAFF;
}

/*******************************
             Public
*******************************/
.hide{display: none;}
.show{display: block;}
.f_w_100{font-weight: 100;}

.bg-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background: rgba(0,0,0,0.2);
    background:-moz-radial-gradient(50% 20%, rgba(0,0,0,0.1), rgba(0,0,0,0.8));
    background:-webkit-radial-gradient(50% 20%, rgba(0,0,0,0.1), rgba(0,0,0,0.8));
    background:-webkit-gradient(radial, 0 50%, 0 20%, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.8)));
    z-index: 1;
}
.wrapper{
    position: relative;
    z-index: 2;
}

/*******************************
             Pages
*******************************/

/*================landing================*/
#home-wrapper{
    height: 100%;
    background: #213855 url(../img/bg-photo-2.jpg) center center fixed no-repeat;
    background-size: cover;
}
.home-card{padding-top: 50px;}


.home-card .logo{/*width:150px;height:150px; padding: 40px;margin:0 auto; background: #fff;border-radius: 50%;text-align: center;*/
    font-family: "Baumans";
    font-size: 120px;
    line-height: 1;
    color: #fff;
    color: rgba(255,255,255,0.85);
}

.home-card h3{
    font-weight: 100;
    color: #fff;
    color: rgba(255,255,255,0.85);
    font-size: 50px;
    line-height: 1;
    font-family: "Baumans";
    margin: 30px 0 40px 0;
}




.home-card .ui.button{
    text-transform: none;
    font-weight: 100;
}

.copyright{
    font-size: 9px;
    background: rgba(0,0,0,0.7);
    line-height: 15px;
    text-align: center;
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
}
.copyright a{
    color: #bbb;
    text-decoration: none;
}

/*================room-list================*/
#room-list-wrapper{
    height: 100%;
    background: #213855 url(../img/bg-photo.jpg) center center fixed no-repeat;
    background-size: cover;
}

 #room-list-wrapper .logo{
    position: fixed;
    top: 10px;
    left:10px;
    width: 50px;
    height: 50px;
    /*background: rgba(255,255,255,0.2);*/
    border-radius: 50%;
    text-align: center;
}
#room-list-wrapper .logo a{
    margin-top: 5px;
    font-size: 30px;
    font-family: 'Baumans';
    /*color: rgba(0,0,0,0.3);*/
    color: #1d3748;
    display: inline-block;
    background: rgba(255,255,255,0.3);
    /*background-size: 60%;*/
    width: 37px;
    padding-left: 3px;
    height: 40px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
}
/*#room-list-wrapper .logo a:active{
    border:5px solid #fff;
}*/
#room-list-wrapper h4{
    font-size: 4rem;
    font-weight: 100;
    margin:0;
    display: inline-block;
    padding: 10px 20px;
}
#room-list-wrapper h4:hover{
    background:rgba(255,255,255,0.05);
    border-radius: 10px;
    cursor: pointer;
}

#room-list-wrapper h4 i{
    font-style: normal;
    padding-right: 10px;
    padding-top: 5px;
    display: inline-block;
    vertical-align: top;
}

.gap{padding: 20px;font-size: 40px;color: #fff;font-weight: 100;}

.room-list-block{
    padding-top: 60px;
    padding-left: 0;
    margin: 0;
    position: relative;
    z-index: 2
}

#room-list-wrapper .room-list-block.active h4,
#room-list-wrapper .room-list-block.active h4:hover{
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
}

.room-list-block ul.room-list{
    padding: 20px 0;
    background:rgba(255,255,255,0.1);
    margin:20px -1.5% 10px -1.5%;
}
.room-list-block ul.room-list li a{
    display: block;
    padding: 10px 0;
}

.room-list-block ul.room-list.hide-inactive li a.room-inactive {
    display: none;
}
.input.ui input.new-room{
    border:none;
    background: rgba(255,255,255,0.6);
    color: #fff;
}



/*================Responsive================*/
@media(max-width: 320px){


/*================landing================*/
    #home-wrapper{
        /*padding-top: 250px;*/
    }
    #home-wrapper .home-card h3{
        /*font-size: 40px;*/
        font-family: 'Baumans';
    }

    #home-wrapper .home-card .ui.button{
        padding: 0.6em 1em 0.9em 1em;
        font-weight: 300;
    }

    #home-wrapper .logo{
        margin: 0 80px;
    }

/*================rooms================*/
    #room-list-wrapper{
        background: none;
    }
    #room-list-wrapper .bg-overlay{
        content: "";
        position: fixed;
        left:0;
        right: 0;
        top:0;
        bottom:0;
        background: #213855 url(../img/bg-photo-3.jpg) center center no-repeat;
        background-size: cover;
        z-index: -1;
    }





}






