/* 
* @Author: hanjiyun
* @Date:   2013-11-02 21:18:23
* @Email:  jiyun@han.im
* @Last modified by:   hanjiyun
* @Last Modified time: 2013-11-04 03:27:42
*/

/*

                              _,add8ba,
                            ,d888888888b,
                           d8888888888888b                        _,ad8ba,_
                          d888888888888888)                     ,d888888888b,
                          I8888888888888888 _________          ,8888888888888b
                __________`Y88888888888888P"""""""""""baaa,__ ,888888888888888,
            ,adP"""""""""""9888888888P""^                 ^""Y8888888888888888I
         ,a8"^           ,d888P"888P^                           ^"Y8888888888P'
       ,a8^            ,d8888'                                     ^Y8888888P'
      a88'           ,d8888P'                                        I88P"^
    ,d88'           d88888P'                                          "b,
   ,d88'           d888888'                                            `b,
  ,d88'           d888888I                                              `b,
  d88I           ,8888888'            ___                                `b,
 ,888'           d8888888          ,d88888b,              ____            `b,
 d888           ,8888888I         d88888888b,           ,d8888b,           `b
,8888           I8888888I        d8888888888I          ,88888888b           8,
I8888           88888888b       d88888888888'          8888888888b          8I
d8886           888888888       Y888888888P'           Y8888888888,        ,8b
88888b          I88888888b      `Y8888888^             `Y888888888I        d88,
Y88888b         `888888888b,      `""""^                `Y8888888P'       d888I
`888888b         88888888888b,                           `Y8888P^        d88888
 Y888888b       ,8888888888888ba,_          _______        `""^        ,d888888
 I8888888b,    ,888888888888888888ba,_     d88888888b               ,ad8888888I
 `888888888b,  I8888888888888888888888b,    ^"Y888P"^      ____.,ad88888888888I
  88888888888b,`888888888888888888888888b,     ""      ad888888888888888888888'
  8888888888888698888888888888888888888888b_,ad88ba,_,d88888888888888888888888
  88888888888888888888888888888888888888888b,`"""^ d8888888888888888888888888I
  8888888888888888888888888888888888888888888baaad888888888888888888888888888'
  Y8888888888888888888888888888888888888888888888888888888888888888888888888P
  I888888888888888888888888888888888888888888888P^  ^Y8888888888888888888888'
  `Y88888888888888888P88888888888888888888888888'     ^88888888888888888888I
   `Y8888888888888888 `8888888888888888888888888       8888888888888888888P'
    `Y888888888888888  `888888888888888888888888,     ,888888888888888888P'
     `Y88888888888888b  `88888888888888888888888I     I888888888888888888'
       "Y8888888888888b  `8888888888888888888888I     I88888888888888888'
         "Y88888888888P   `888888888888888888888b     d8888888888888888'
            ^""""""""^     `Y88888888888888888888,    888888888888888P'
                  Normand    "8888888888888888888b,   Y888888888888P^
                  Veilleux    `Y888888888888888888b   `Y8888888P"^
                                "Y8888888888888888P     `""""^
                                  `"YY88888888888P'
                                       ^""""""""'

*/

/*******************************
        Highlighted Colors
*******************************/

::-webkit-selection {
    background: #111;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
::-moz-selection {
    background: #111;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
::selection {
    background: #111;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}


/*h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection {
  background-color: #F1C1C2;
  color: #222222;
}
h1::selection,
h2::selection,
h3::selection {
  background-color: #F1C1C2;
  color: #222222;
}*/
/*.ui *::-moz-selection {
  background-color: #CCE2FF;
}
.ui *::selection {
  background-color: #CCE2FF;
}*/

/*******************************
             Global
*******************************/
img{max-width: 100%}

html,
body {
    font-size: 15px;
    height: 100%
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  color:#fff;
}


ul,ol,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.list {
  list-style-type: disc;
}
ul.list li {
  list-style-position: outside;
}


/* text and headers */
h1 {
  margin: 0px 0px 20px;
  padding: 50px 0px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
h4 + p {
  margin: 0px 0px 20px;
}
pre {
  background-color: #F0F0F0;
}
pre.console {
  background-color: transparent;
  line-height: 1.6;
  font-family:  'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  height: 300px;
  overflow: auto;
}
code {
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-family: "Courier New";
  font-size: 14px;
  margin: 0.25em;
  padding: 0.125em 0.5em;
  vertical-align: middle;
}
pre code {
  border: none;
  padding: 0px;
}
table pre,
table code {
  margin: 0px !important;
  padding: 0px;
  background-color: transparent;
}
p {
  margin: 0em;
}
p:first-child {
  margin-top: 0em;
}
p:last-child {
  margin-bottom: 0em;
}

/* links */
a {
  color: #009FDA;
  text-decoration: none;
}
a:hover {
  color: #00BAFF;
}

/*******************************
             Public
*******************************/
.hide{display: none;}
.show{display: block;}
.f_w_100{font-weight: 100;}

.bg-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background: rgba(0,0,0,0.2);
    background:-moz-radial-gradient(50% 20%, rgba(0,0,0,0.1), rgba(0,0,0,0.8));
    background:-webkit-radial-gradient(50% 20%, rgba(0,0,0,0.1), rgba(0,0,0,0.8));
    background:-webkit-gradient(radial, 0 50%, 0 20%, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.8)));
    z-index: 1;
}



/*******************************
             Pages
*******************************/

body{
    height: auto;
    /*"Open Sans", "Helvetica Neue"*/
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0px;
    padding: 0px;
    color: #555555;
    min-width: 310px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    text-align: center;
    background: #bad5d8;
    font-size: 14px;
    line-height: 1;
    /*overflow: hidden;*/
    -webkit-font-smoothing: subpixel-antialiased;
}
.wrap{
    /*max-width: 600px;*/
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
}


/*===========*/

.chat-list{
    /*position: fixed;*/
    /*width: 100%;*/
    /*top: 80px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*overflow: auto;*/
    /*box-sizing:border-box;*/
    position: relative;
    padding: 5px 0;
    min-height: 95px;
}
.chat{
    /**/
}
.loading{
    width: 310px; 
    padding:20px 0;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 40px;
}
.loading i{
    font-size: 24px;
    color: #fff;
}

.ui.header.nullbox{
    display: block;
    width: 310px; 
    padding:20px 0;
    margin: 0 auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.ui.header.nullbox i.icon{
    font-size: 50px!important;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Icons';
    -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, .4) inset;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, .4) inset;
}

.chat-box{
    display: inline-block;
    min-width: 150px;
    max-width: 310px;
    width: 300px;
    margin: 5px 5px 5px 10px;
    vertical-align: top;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.48;
    color: #514f47;
    word-wrap: break-word;
    word-break: normal;
    box-sizing:border-box;
}

.chat-box p{
    padding: 20px 20px 15px 20px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.chat-box p.cn{
    font-size: 14px;
}

.imgbox{
    position: relative;
    min-height: 200px;
    margin-bottom: 5px;
    line-height: 100%;
    text-align: center;
}

.chat-box .time{
    display: block;
    text-align: right;
    color: #bbb;
    padding-top: 5px;
    font-size: 10px;
}


/*waiting for delete*/
.chat-box.waiting{
    -webkit-animation-name:scaleBox;
    -webkit-animation-duration:0.4s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count:1;

    -moz-animation-name:scaleBox;
    -moz-animation-duration:0.4s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count:1;
}

.chat-box.waiting p{
    background-color: rgba(255,255,255,0.7);
}

.chat-box .confirm{
    position: absolute;
    right: 0;
    top: 0;
}
.chat-box.waiting .confirm{
    -webkit-animation-name:scaleConfirmBox;
    -webkit-animation-duration:0.2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count:1;

    -moz-animation-name:scaleConfirmBox;
    -moz-animation-duration:0.2s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count:1;
}

/* keyframes scaleBox for .chat-box animate */
@-webkit-keyframes scaleBox{
    0%{
        -webkit-transform:scale(1);
    }
    50%{
        -webkit-transform:scale(1.05);
    }
    100%{
        -webkit-transform:scale(1);
    }
}
@-moz-keyframes scaleBox{
    0%{
        -moz-transform:scale(1);
    }
    50%{
        -moz-transform:scale(1.05);
    }
    100%{
        -moz-transform:scale(1);
    }
}

/* keyframes scaleConfirmBox for .confirm animate */
@-webkit-keyframes scaleConfirmBox{
    0%{
        -webkit-transform:scale(0.1);
        opacity: 0;
    }
    100%{
        -webkit-transform:scale(1);
        opacity: 1;
    }
}
@-moz-keyframes scaleConfirmBox{
    0%{
        -moz-transform:scale(0.1);
        opacity: 0;
    }
    100%{
        -moz-transform:scale(1);
        opacity: 1;
    }
}

.chat-box .confirm i{
    margin-right: 4px;
    opacity: 0;
    cursor: pointer;

    transition:all 0.3s ease;
}
.chat-box.waiting .confirm i{
    opacity: 0.7;
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
}
.chat-box.waiting .confirm i:hover{
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1);
}

.delete{
    color: #c00;
}
.cancel{
    color: #555;
}

.chat-box.animate p{
    -webkit-animation-name:rotateLeft;
    -webkit-animation-duration:0.25s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count:infinite;

    -moz-animation-name:rotateLeft;
    -moz-animation-duration:0.25s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count:infinite;
}

@-webkit-keyframes rotateLeft{
    0%{
        -webkit-transform:rotate(0);
        margin-left: -1px;
        margin-top:-1px;
    }
    25%{
        -webkit-transform:rotate(-0.6deg);
        margin-left: 0px;
        margin-top:0px;
    }
    50%{
        -webkit-transform:rotate(0deg);
        margin-left: 1px;
        margin-top:1px;
    }
    75%{
        -webkit-transform:rotate(0.6deg);
        margin-left: 0px;
        margin-top:0px;
    }
    100%{
        -webkit-transform:rotate(0deg);
        margin-left: -1px;
        margin-top:-1px;
    }
}
@-moz-keyframes rotateLeft{
    0%{
        -moz-transform:rotate(0);
        margin-left: -1px;
        margin-top:-1px;
    }
    25%{
        -moz-transform:rotate(-0.6deg);
        margin-left: 0px;
        margin-top:0px;
    }
    50%{
        -moz-transform:rotate(0deg);
        margin-left: 1px;
        margin-top:1px;
    }
    75%{
        -moz-transform:rotate(0.6deg);
        margin-left: 0px;
        margin-top:0px;
    }
    100%{
        -moz-transform:rotate(0deg);
        margin-left: -1px;
        margin-top:-1px;
    }
}


.progressWrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}
.progressWrapper .progress{
    width: 0%;
    height: 5px;
    background: #c00;
    opacity: 0.8;
    position: absolute;
    -moz-animation: fullexpand 10s 1 ease-out;
    -webkit-animation: fullexpand 10s 1 ease-out;
    -o-animation: fullexpand 10s 1 ease-out;
}

/* Full Width Animation Bar */
@-moz-keyframes fullexpand {
    0%{
        width:0%;
    }
    100%{
        width: 100%;
    }
}

@-webkit-keyframes fullexpand {
    0%{
        width:0%;
    }
    100%{
        width: 100%;
    }
}



/*===========*/

.chat-input{
    /*position: fixed;*/
    /*width: 100%;*/
    /*top: 0;*/
    /*left: 0;*/
    background: #fff;
}

.chat-input .ui.form .field{
    margin: 0 10px;
}
.chat-input .ui.form textarea{
    height: 80px;
    max-height: 80px;
    min-height: 80px;
    padding: .85em 0.5em;
    resize:none;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    background: rgba(255,255,255,0.6);
    font-size: 18px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif!important;
    font-weight: 300;
}


/*--------------------
  Placeholder
---------------------*/


.ui.form ::-webkit-input-placeholder { /* WebKit browsers */
    color:rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif!important;
    font-weight: 300;
    padding-left: 5px;
}
.ui.form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif!important;
    font-weight: 300;
    padding-left: 5px;
}
.ui.form ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif!important;
    font-weight: 300;
    padding-left: 5px;
}
.ui.form :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:rgba(0, 0, 0, 0.8);
    font-size: 18px;
     font-family: "Roboto", "Helvetica", "Arial", sans-serif!important;
    font-weight: 300;
    padding-left: 5px;
}



.ui.form :focus::-webkit-input-placeholder { /* WebKit browsers */
    color:rgba(0, 0, 0, 0.2);
}
.ui.form :focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:rgba(0, 0, 0, 0.2);
}
.ui.form :focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:rgba(0, 0, 0, 0.2);
}
.ui.form :focus:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:rgba(0, 0, 0, 0.2);
}






/*
================
Responsive
================
*/


    @media(min-width: 320px){

    }

    @media(min-width: 768px){
        .chat{
            padding-left: 58px;
        }
        .chat-box{
            margin: 5px;
        }
    }

    @media(min-width: 1221px){
        .chat{
            padding-left: 0px;
        }
        .chat-box{
            margin: 5px 5px 5px 12px;
        }
    }

    @media(min-width: 1617px){

    }







    /*Retina*/
    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {


    }

.emoticon{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-bottom: -4px;
}

.emoticon-angry {
  background-image: url("/img/emoticons/angry.png");
}
.emoticon-naughty {
  background-image: url("/img/emoticons/naughty.png");
}
.emoticon-sick {
  background-image: url("/img/emoticons/sick.png");
}
.emoticon-smile {
  background-image: url("/img/emoticons/smile.png");
}
.emoticon-wink {
  background-image: url("/img/emoticons/wink.png");
}
.emoticon-frown {
  background-image: url("/img/emoticons/frown.png");
}
.emoticon-ambivalent {
  background-image: url("/img/emoticons/ambivalent.png");
}
.emoticon-slant {
  background-image: url("/img/emoticons/slant.png");
}
.emoticon-gasp {
  background-image: url("/img/emoticons/gasp.png");
}
.emoticon-laugh {
  background-image: url("/img/emoticons/laugh.png");
}
.emoticon-kiss {
  background-image: url("/img/emoticons/kiss.png");
}
.emoticon-yuck {
  background-image: url("/img/emoticons/yuck.png");
}
.emoticon-yum {
  background-image: url("/img/emoticons/yum.png");
}
.emoticon-grin {
  background-image: url("/img/emoticons/grin.png");
}
.emoticon-sarcastic {
  background-image: url("/img/emoticons/sarcastic.png");
}
.emoticon-cry {
  background-image: url("/img/emoticons/cry.png");
}
.emoticon-cool {
  background-image: url("/img/emoticons/cool.png");
}
.emoticon-nerd {
  background-image: url("/img/emoticons/nerd.png");
}
.emoticon-innocent {
  background-image: url("/img/emoticons/innocent.png");
}
.emoticon-sealed {
  background-image: url("/img/emoticons/sealed.png");
}
.emoticon-footinmouth {
  background-image: url("/img/emoticons/footinmouth.png");
}
.emoticon-embarrassed {
  background-image: url("/img/emoticons/embarrassed.png");
}
.emoticon-crazy {
  background-image: url("/img/emoticons/crazy.png");
}
.emoticon-confused {
  background-image: url("/img/emoticons/confused.png");
}
.emoticon-moneymouth {
  background-image: url("/img/emoticons/moneymouth.png");
}
.emoticon-heart {
  background-image: url("/img/emoticons/heart.png");
}
.emoticon-thumbsup {
  background-image: url("/img/emoticons/thumbsup.png");
}
.emoticon-thumbsdown {
  background-image: url("/img/emoticons/thumbsdown.png");
}
.emoticon-not-amused {
  background-image: url("/img/emoticons/not-amused.png");
}
.emoticon-mini-smile {
  background-image: url("/img/emoticons/mini-smile.png");
}
.emoticon-mini-frown {
  background-image: url("/img/emoticons/mini-frown.png");
}
.emoticon-content {
  background-image: url("/img/emoticons/content.png");
}
.emoticon-hearteyes {
  background-image: url("/img/emoticons/hearteyes.png");
}





