extends layout

block content
    #home-wrapper
        .bg-overlay
        .wrapper
            .ui.grid.column
                .column.row.center.aligned.middle
                    .column.vertical
                        .home-card
                            .logo P
                                // img(src='img/logo.png', data-at2x="img/logo@2x.png", alt='Perber')
                            h3 Perber
                            .buttons.ui
                                a.ui.button.green(href="/auth/douban")
                                    |Douban
                                a.ui.button.facebook(href="/auth/facebook")
                                    |Facebook
                                a.ui.button.twitter(href="/auth/twitter")
                                    |Twitter
                            .copyright
