extends layout

block content
	.ui.grid.column
		.column.row.center.aligned.middle
			.column.vertical
				.home-card
					img.logo(src='img/logo.png', srcset="logo@2x.png 2x" alt='Perber')
					h3 
					p
						a.ui.button.teal(href="/auth/douban",style="font-weight:normal")
							| 用豆瓣登录
