!!! 5
//if lt IE 7
    html(class="no-js ie6 oldie", lang="en")
//if IE 7
    html(class="no-js ie7 oldie", lang="en")
//if IE 8
    html(class="no-js ie8 oldie", lang="en")
// [if gt IE 8] <!
html(class="no-js", lang="en")
    // <![endif]

    head
        meta(charset="utf-8")

        block title

        block SEO

        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="apple-mobile-web-app-capable", content="yes")

        link(rel='apple-touch-icon-precomposed', href='perber(57px).png')
        link(rel='apple-touch-icon-precomposed', href='perber(72px).png', sizes='72x72')
        link(rel='apple-touch-icon-precomposed', href='perber(76px).png', sizes='76x76')
        link(rel='apple-touch-icon-precomposed', href='perber(114px).png', sizes='114x114')
        link(rel='apple-touch-icon-precomposed', href='perber(120px).png', sizes='120x120')
        link(rel='apple-touch-icon-precomposed', href='perber(152px).png', sizes='152x152')

        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no, minimal-ui")

        //- link(href='http://fonts.googleapis.com/css?family=Special+Elite|Roboto:100,300,400,500,700,900', rel='stylesheet')
        link(rel="stylesheet", href="/css/semantic.min.css")
        link(rel="stylesheet", href="/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/perber.css")
        link(rel="stylesheet", href="/css/player.zen.css")

        script(src="/js/libs/jquery-2.0.3.min.js")
        script(src="/js/libs/modernizr-2.5.3.min.js")

        script.
            !function(r,e,a,c,t){r.GoogleAnalyticsObject=a,r[a]||(r[a]=function(){(r[a].q=r[a].q||[]).push(arguments)}),r[a].l=1*new Date(),c=e.createElement("script"),t=e.scripts[0],c.src="//www.google-analytics.com/analytics.js",t.parentNode.insertBefore(c,t)}(window,document,"ga"),ga("create","UA-44986847-1", "perber.com"),ga("send","pageview");
    body
        block content

