!!! 5
//if lt IE 7
    html(class="no-js ie6 oldie", lang="en")
//if IE 7
    html(class="no-js ie7 oldie", lang="en")
//if IE 8
    html(class="no-js ie8 oldie", lang="en")
// [if gt IE 8] <!
html(class="no-js", lang="en")
    // <![endif]

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="apple-mobile-web-app-capable", content="yes")

        title Perber

        meta(name="description", content="")
        meta(name="author", content="hanjiyun")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="/css/semantic.min.css")
        link(rel="stylesheet", href="/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/perber.css")
        link(href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900',rel='stylesheet',type='text/css')
        //link(href='http://fonts.googleapis.com/css?family=Nova+Script|Monoton|Baumans|Roboto:300,100,100italic,300italic,400,400italic,500,500italic,700,700italic,900,900italic|Raleway:400,200,900,800,700,600,500,300,100',rel='stylesheet',type='text/css')
        // link(rel="stylesheet", href="/css/style.css")

        script(type="text/javascript",src="/js/libs/jquery-2.0.3.min.js")
        script(type="text/javascript",src="/js/libs/modernizr-2.5.3.min.js")
        script(type="text/javascript",src="/js/libs/jquery.timeago.js")
        script(type="text/javascript",src="/js/libs/retina.js")

    - var body_class = (("undefined" != typeof room) ? 'fancy-theme' : 'home-page')
    body(class=body_class)
        block content

