!!! 5
//if lt IE 7
    html(class="no-js ie6 oldie", lang="en")
//if IE 7
    html(class="no-js ie7 oldie", lang="en")
//if IE 8
    html(class="no-js ie8 oldie", lang="en")
// [if gt IE 8] <!
html(class="no-js", lang="en")
    // <![endif]

    head
        meta(name="description", content="All the words will gone, only the void forever lone")
        meta(name="keywords", content="Perber")
        meta(name="author", content="J.Y Han(naoyeye)")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="apple-mobile-web-app-capable", content="yes")

        title Perber

        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no, minimal-ui")

        link(href='http://fonts.googleapis.com/css?family=Special+Elite|Roboto:100,300,400,500,700,900', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="/css/semantic.min.css")
        link(rel="stylesheet", href="/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/perber.css")
        link(rel="stylesheet", href="/css/player.zen.css")
        //- link(rel="stylesheet", href="/css/player/circle.player.css")

        script(type="text/javascript",src="/js/libs/jquery-2.0.3.min.js")
        script(type="text/javascript",src="/js/libs/modernizr-2.5.3.min.js")

        script(type='text/javascript').
            !function(r,e,a,c,t){r.GoogleAnalyticsObject=a,r[a]||(r[a]=function(){(r[a].q=r[a].q||[]).push(arguments)}),r[a].l=1*new Date(),c=e.createElement("script"),t=e.scripts[0],c.src="//www.google-analytics.com/analytics.js",t.parentNode.insertBefore(c,t)}(window,document,"ga"),ga("create","UA-44986847-1", "perber.com"),ga("send","pageview");
    body
        block content

