extends layout

block content
    link(rel="stylesheet", href="/css/pages404.css")
    script(type="text/javascript",src="/js/pages404.js")

    #wrap
        #inner
            h1 Oops! 404!
            #message
               #smash
                    #pupils-wrap
                        #pupils

            a.ui.button.green(href="/") back home