extends layout

block content
    .wrap
        .content(role='main')
            .chat
                .history

                .current


            div(class="chat-input ui input")
                input.text(type="text", name="", placeholder="Say somthing", value="")


    include templates/chat_tmpl

    script(defer, src="/js/plugins.js")
    script(defer, src="/js/libs/ICanHaz.min.js")
    script(src="/socket.io/socket.io.js")

    script(defer, src="/js/perber.js")
