extends layout

block content
    .wrap
        .content(role="main")

            ul#Tips(style="display:none")
                li(id="about", class="active")
                    i(class="fa fa-circle-o")
                    span About Perber
                li(id="usage")
                    i(class="fa fa-question-circle")
                    span Usage

            .chat-input(data-bucket="#{bucket_name}")
                .ui.form
                    .field
                        textarea(placeholder="Say something", maxlength="240")

            .chat-list
                .chat


            .fileupload.fileupload-new(style="width:300px;margin-top:400px;", data-provides="fileupload")
                a.btn_addPic.btn.btn-default.btn-lg(href="javascript:void(0);")
                    span
                        i.glyphicon.glyphicon-plus
                        | 添加文件(可同时选择多个文件)
                    input#selectFiles.filePrew(name="pic", type="file")

            .q_wrap
                #spdiv.input-group(style="display:none;")
                    span.input-group-addon
                        span.glyphicon.glyphicon-home
                    input#txt_serverPath.form-control(type="text", placeholder="请输入服务端目录")

                #fileList
    .noticeWrap


    audio(id="chatAudio")
        source(src="/audio/notify.ogg", type="audio/ogg")
        source(src="/audio/notify.mp3", type="audio/mpeg")
        source(src="/audio/notify.wav", type="audio/wav")
    audio(id="deletedAudio")
        source(src="/audio/del.ogg", type="audio/ogg")
        source(src="/audio/del.mp3", type="audio/mpeg")
        source(src="/audio/del.wav", type="audio/wav")

    include templates/chat_tmpl

    script(defer, src="/js/libs/ICanHaz.min.js")
    script(src="/socket.io/socket.io.js")

    script(defer, src="/js/plugins.js")
    script(defer, src="/js/libs/qiniu.uploader.js")
    script(defer, src="/js/perber.js")


