extends layout

block content
    .wrap
        .content(role='main')
            .chat
                .history

                .current


            div.chat-input
                div.ui.form
                    div.field
                        textarea(placeholder="Say somthing")


    include templates/chat_tmpl

    script(defer, src="/js/plugins.js")
    script(defer, src="/js/libs/ICanHaz.min.js")
    script(src="/socket.io/socket.io.js")

    script(defer, src="/js/perber.js")
