extends layout

block content
    .wrap
        .content(role="main")

            #onlineCount
                span#number
                span#action

            ul#Tips
                li#about
                    i.fa.fa-circle-o
                    span About Perber
                li#usage
                    i.fa.fa-question-circle
                    span Usage

            #drop_zone.chat-input(data-bucket="#{bucket_name}")
                .ui.form
                    .field
                        textarea(placeholder="Say something", maxlength="240")
                #upimg

            .chat-list
                #important
                    .chat-box
                        .fixed_block
                            .ui.right.teal.corner.label(title="通知")
                                i.fa-bullhorn.fa
                            | ╰(*￣0￣*)╯ 怎么玩儿：<br><br>
                            | 1. 如果对某条内容不感兴趣，或者觉得没有必要留在网上，那就<mark>一直按着它</mark>，然后点“x”把它删掉吧。在这儿，不怕内容少，就怕内容多。<br><br>
                            | 2. <mark>如果不想让自己发的内容被删掉，可以点击“有空”——如果还有空的话——提交你的联系方式。名额只有 1 个，4月1日之前免费。</mark><br><br> 
                            | 3. 把图片拖拽到输入框，可以上传图片。直接发GIF图片的链接是不能出现图片的，除非是来自新浪的GIF图。instagram的图片也是支持的。(￢∀￢) <br><br> 
                            | 4. 可以识别虾米的歌曲URL（类似 <mark>http://www.xiami.com/song/11234567</mark>这种）<br><br>
                            | 5. “网站介绍”神马的点击右上角的图标就好了，反正也没人看。对技术感兴趣的可以去<a target="_blank" href="https://github.com/naoyeye/Perber">这里</a>看代码，简单的<mark>socket.io + node.js</mark>。好了，飞走~~ ʅ(‾◡◝)ʃ



                        //- card 0 apply

                        //- .fixed_block.null
                        //-     #front
                        //-         .ui.right.teal.corner.label(title="虚位以待")
                        //-             i.fa-lock.fa
                        //-         .imgbox
                        //-             a.ta_cover(href="javascript:void(0);")
                        //-     #back
                        //-         #back2front.circular.ui.icon.button(title="返回")
                        //-             i.fa.fa-chevron-left
                        //-         .ui.form
                        //-             .ui.message
                        //-                 ul.list
                        //-                     li 如果不清楚这个位置是干嘛用的，请参考“怎么玩儿”的第2条规则。
                        //-                     li 提交后，会有人联系你，问你到底想干嘛。没搞明白这个是干嘛之前别乱提交。
                        //-             .field
                        //-                 label 你叫啥(网名之类的称呼也可以)
                        //-                 input#input_name(type="text",placeholder="输入称呼",name="name", maxlength="20")
                        //-             .field
                        //-                 label 邮箱地址(*必填)
                        //-                 input#input_email(type="email",placeholder="输入邮箱地址",name="email")
                        //-             .field(style="text-align:center")
                        //-                 #applyBtn.ui.button.green
                        //-                     | 写好了，提交

                        //- card 1 bg+text
                        //- .fixed_block.card_1
                        //-    .ui.right.teal.corner.label(title="友情置顶")
                        //-        i.fa-star.fa
                        //-    .imgbox
                        //-        .ta_cont
                        //-            p
                        //-                | <i class="fa fa-quote-left"></i> 我跑上门，打开楼梯。说完睡衣，穿上祷告，关上床，钻进灯。所有这一切都是因为，道晚安时你给我的一吻。 <i class="fa fa-quote-right"></i>
                        //-                span
                        //-                    | —— 由“不愿意透露姓名的某人”投递

                        //- card blocking
                        .fixed_block.card_4
                            .ui.right.teal.corner.label(title="友情置顶")
                                i.fa-star.fa
                            .imgbox
                                a.ta_cover(style="background-image:url(http://ww4.sinaimg.cn/large/ed133892gw1eegi25aklrj20hv0m8q3y.jpg); background-size:cover;")
                                .ta_cont
                                    p
                                        | Sean Malto
                                        span
                                            | 由 <a href="http://www.douban.com/people/coolzi/" target="_blank")>彼得潘</a> 投递


                        //- card 1 bg+text
                        .fixed_block.card_3
                            .ui.right.teal.corner.label(title="友情置顶")
                                i.fa-smile-o.fa
                            .ta_cont
                                h4 调查：要不要增加“投票”功能？
                                p <strong>功能描述：</strong><br><br>为了保证Perber中的内容质量，计划增加投票功能：每个人都可以对内容进行“赞”和“踩”。<br>如果某条内容得到的“赞”比“踩”多，则在一定时期内(一周？)不能删除；反之，则可以随时被任何人删除。
                                #vote_bar
                                #vote_info 此调查会在4月3日截止

                        //- card 2 bg+short text

                        //- .fixed_block
                        //-     .ui.right.teal.corner.label(title="友情置顶")
                        //-         i.fa-star.fa
                        //-     .imgbox
                        //-         a.ta_cover(href="http://www.wandoujia.com/join", target="_blank", style="background-image:url(http://ww2.sinaimg.cn/large/ed133892gw1ee53b743uyj20go0gognh.jpg);background-size: cover;")
                        //-         .ta_title
                        //-             a(href="http://www.wandoujia.com/join", target="_blank")
                        //-                 | (╭￣3￣)╭♡ &nbsp; 加入豌豆荚
                .chat

    .noticeWrap


    audio(id="chatAudio")
        source(src="/audio/notify.ogg", type="audio/ogg")
        source(src="/audio/notify.mp3", type="audio/mpeg")
        source(src="/audio/notify.wav", type="audio/wav")
    audio(id="deletedAudio")
        source(src="/audio/del.ogg", type="audio/ogg")
        source(src="/audio/del.mp3", type="audio/mpeg")
        source(src="/audio/del.wav", type="audio/wav")

    include templates/chat_tmpl

    script(src="js/player/jquery.transform.js")
    script(src="js/player/jquery.grab.js")
    script(src="js/player/jquery.jplayer.js")
    script(src="js/player/mod.csstransforms.min.js")
    script(src="js/player/circle.player.js")

    script(src="/socket.io/socket.io.js")
    script(defer, src="/js/plugins.min.js")
    script(defer, src="/js/perber.min.js")
