extends layout

block content
    .wrap
        .content(role="main")

            ul#Tips
                li(id="about", class="active")
                    i(class="fa fa-circle-o")
                    span About Perber
                li(id="usage")
                    i(class="fa fa-question-circle")
                    span Usage

            .chat-input
                .ui.form
                    .field
                        textarea(placeholder="Say something")

            .chat-list
                .chat

    audio(id="chatAudio")
        source(src="/audio/notify.ogg", type="audio/ogg")
        source(src="/audio/notify.mp3", type="audio/mpeg")
        source(src="/audio/notify.wav", type="audio/wav")
    audio(id="deletedAudio")
        source(src="/audio/del.ogg", type="audio/ogg")
        source(src="/audio/del.mp3", type="audio/mpeg")
        source(src="/audio/del.wav", type="audio/wav")

    include templates/chat_tmpl

    script(defer, src="/js/libs/ICanHaz.min.js")
    script(src="/socket.io/socket.io.js")

    script(defer, src="/js/plugins.js")
    script(defer, src="/js/perber.js")
