extends layout

block title
    title Perber

block SEO
    meta(name="description", content="All the words will gone, only the void forever lone")
    meta(name="keywords", content="Perber")
    meta(name="author", content="J.Y Han(naoyeye)")

block content
    .wrap
        .content(role="main")

            #onlineCount
                span#number
                span#action

            ul#Tips
                li#about
                    i.fa.fa-circle-o
                    span 关于 Perber
                li#usage
                    i.fa.fa-question-circle
                    span 怎么玩儿

            #drop_zone.chat-input(data-bucket="#{bucket_name}")
                .ui.form
                    .field
                        textarea(placeholder="说点什么？", maxlength="240")
                #upimg

            .chat-list
                #important
                    .chat-box

                        //- .fixed_block
                        //-     .ui.right.teal.corner.label(title="通知")
                        //-         i.fa-bullhorn.fa
                        //-     | ╰(*￣0￣*)╯ 怎么玩儿：<br><br>
                        //-     | 1. 在顶部的输入框输入文字，或者把图片拖拽到输入框中。支持虾米音乐和instagram、新浪微博图片。<br><br>
                        //-     | 2. 长按，删除某条内容。<mark>如果不想让自己发的内容被删掉，可以点击“有空”——如果还有空的话——提交你的联系方式。名额只有 1 个，4月1日之前免费。</mark><br><br> 
                        //-     | 3. “网站介绍”神马的点击右上角的图标就好了，反正也没人看。对技术感兴趣的可以去<a target="_blank" href="https://github.com/naoyeye/Perber">这里</a>看代码，简单的<mark>socket.io + node.js</mark>。好了，飞走~~ ʅ(‾◡◝)ʃ


                        //- //- card 1 bg+text
                        //- .fixed_block.card_3
                        //-     .ui.right.teal.corner.label(title="友情置顶")
                        //-         i.fa-smile-o.fa
                        //-     .ta_cont
                        //-         h4 你觉得自己好不好看？
                        //-         p 好看就点头，不好看就摇头<br> 哈哈哈哈
                        //-         //- p <strong>功能描述：</strong><br><br>为了保证Perber中的内容质量，计划开发新的功能：每个人都可以对内容进行“赞”和“踩”。<br>如果某条内容得到的“赞”比“踩”多，则在一定时期内(一周？)不能删除；反之，则可以随时被任何人删除。
                        //-         #vote_bar
                        //-         #vote_info 此调查会在某月某日截止


                        //- //- card 1 bg+text
                        //- .fixed_block.card_1
                        //-     .ui.right.teal.corner.label(title="友情置顶")
                        //-         i.fa-star.fa
                        //-     .imgbox
                        //-         .ta_cont
                        //-             p(style="font-size:12px; text-align:center;")

                        //-                 a(href="http://han.im/",target="_blank")
                        //-                     i(style="display:block;width:40px;height:40px;background:url(http://img3.douban.com/icon/ul1203352-424.jpg) center center no-repeat; background-size:45px;border-radius:50%;margin: 0 auto;margin-bottom:10px;border:1px solid #7bb487;")
                        //-                     | http://han.im

                        //-                //- span
                        //-                    //- | —— nobody 2014.04.03


                        //- //- card 1 bg+text
                        //- .fixed_block.card_1
                        //-     .ui.right.teal.corner.label(title="友情置顶")
                        //-         i.fa-star.fa
                        //-     .imgbox
                        //-         .ta_cont
                        //-             p(style="font-size:12px; text-align:center;")

                        //-                 a(href="http://biubiubiubiu.com/",target="_blank")
                        //-                     i(style="display: block;width: 40px;height: 40px;margin: 0 auto;margin-bottom: 10px;font-size: 14px;font-style: normal;color: #fff;font-weight: bold;line-height: 40px;background: #333;border-radius: 50%;") Biu
                        //-                     | http://biubiubiubiu.com


                        //- .fixed_block.card_4
                        //-     .ui.right.teal.corner.label(title="友情置顶")
                        //-         i.fa-star.fa
                        //-     .imgbox(style="background-image: none;")
                        //-         a.ta_cover(style="background-image:url(https://img3.doubanio.com/pics/nav/lg_main_a11.png); background-position: center center; background-size: 100px;  background-repeat: no-repeat;")
                        //-         .ta_cont
                        //-             p(style="padding-top: 300px;line-height:50px;")
                        //-                 span(style="font-size:12px;padding-top:0;")
                        //-                     a(href="https://jobs.douban.com/", target="_blank", style="color:#2aac5e;")
                        //-                         | Join Douban

                        //- //- card blocking
                        //- .fixed_block.card_4
                        //-     .ui.right.teal.corner.label(title="友情置顶")
                        //-         i.fa-star.fa
                        //-     .imgbox
                        //-         a.ta_cover(style="background-image:url(http://ww1.sinaimg.cn/large/61b8bbf4gw1ef4r7amb9jj20go0jgq4w.jpg); background-size:cover;")
                        //-         .ta_cont
                        //-             p
                        //-                 span
                        //-                     a( title="去 APP store 下载", href="https://itunes.apple.com/cn/app/same/id531761928?mt=8", target="_blank", style="display:block; font-size: 0;height: 90px;margin-top: 25px;margin-left: 100px;margin-right: 100px;")
                        //-                         | 去 APP store 下载


                        //- card 0 apply
                        //- .fixed_block.null
                        //-     #front
                        //-         .ui.right.teal.corner.label(title="虚位以待")
                        //-             i.fa-lock.fa
                        //-         .imgbox
                        //-             a.ta_cover(href="javascript:void(0);")
                        //-     #back
                        //-         #back2front.circular.ui.icon.button(title="返回")
                        //-             i.fa.fa-chevron-left
                        //-         .ui.form
                        //-             .ui.message
                        //-                 ul.list
                        //-                     li 这个位置是对外开放的，你可以申请在这里放上一张图片，或者一个网站链接，也可以是一段文字。
                        //-                     //- li 提交后，会有人联系你。
                        //-             .field
                        //-                 label 你叫啥(网名之类的称呼也可以)
                        //-                 input#input_name(type="text",placeholder="输入称呼",name="name", maxlength="20")
                        //-             .field
                        //-                 label 邮箱地址(*必填)
                        //-                 input#input_email(type="email",placeholder="输入邮箱地址",name="email")
                        //-             .field(style="text-align:center")
                        //-                 #applyBtn.ui.button.green
                        //-                     | 写好了，提交

                        //- //- card blocking
                        //- .fixed_block.card_4
                        //-     .ui.right.teal.corner.label(title="友情置顶")
                        //-         i.fa-star.fa
                        //-     .imgbox
                        //-         a.ta_cover(style="background-image:url(http://ww3.sinaimg.cn/large/61b8bbf4gw1ef52d1gq0dj20go0jgtaf.jpg); background-size:cover;")
                        //-         .ta_cont
                        //-             p
                        //-                 span
                        //-                     a( title="去 APP store 下载", href="https://itunes.apple.com/us/app/monument-valley/id728293409?mt=8", target="_blank", style="display:block; font-size: 0;height: 90px;margin-top: 25px;margin-left: 100px;margin-right: 100px;")
                        //-                         | 去 APP store 下载


                        //- .fixed_block.card_4
                        //-     .ui.right.teal.corner.label(title="友情置顶")
                        //-         i.fa-star.fa

                        //-     .zenPlayer(id="jquery_jplayer_0", data-location="http://share.han.im/audio/Moby_JamForTheLadies.mp3", data-id="0")
                        //-         span.player
                        //-         span.circle
                        //-         span.progress
                        //-         span.buffer
                        //-         span.drag
                        //-         .button
                        //-             span.icon.play
                        //-             span.icon.pause

                        //-     .imgbox
                        //-         a.ta_cover(style="background-image:url(http://img.xiami.net/images/album/img24/12524/997501358236599.jpg); background-size:cover;")
                        //-         .ta_cont
                        //-             p(style="padding-top: 296px;line-height:50px;")
                        //-                 span(style="font-size:12px;padding-top:0;")
                        //-                     a(href="http://www.xiami.com/album/99750", target="_blank", style="color:#fff; font-size:24px;")
                        //-                         | Moby - Jam for the ladies



                        //- .fixed_block.card_4
                        //-     .ui.right.teal.corner.label(title="友情置顶")
                        //-         i.fa-star.fa
                        //-     .imgbox
                        //-         a.ta_cover(style="background-image:url(http://perber.qiniudn.com/billd.gif); background-size:300px; background-repeat: no-repeat;")
                        //-         .ta_cont
                        //-             p(style="padding-top: 300px;line-height:50px;")
                        //-                 span(style="padding-top:0;")
                        //-                     a(href="http://weibo.com/comichunter", target="_blank")
                        //-                         | 郑插插


                        //- card 2 bg+short text
                        //- .fixed_block
                        //-     .ui.right.teal.corner.label(title="友情置顶")
                        //-         i.fa-star.fa
                        //-     .imgbox
                        //-         a.ta_cover(style="background-image:url(http://ww2.sinaimg.cn/large/ed133892gw1ee53b743uyj20go0gognh.jpg);background-size: cover;")
                        //-         .ta_title
                        //-             a(href="http://www.wandoujia.com/join", target="_blank")
                        //-                 | (╭￣3￣)╭♡ &nbsp; 加入豌豆荚

                .chat

        #footer
            .logo
                a(href="/")
                    i.fa.fa-dot-circle-o
                    span Perber
            p
                | Made with ❤ by <a href="http://about.han.im/" target="_blank">J.Y Han</a> 2014 - 2016
            iframe(src="http://ghbtns.com/github-btn.html?user=naoyeye&repo=Perber&type=watch&count=true",
  allowtransparency="true", frameborder="0", scrolling="0", width="95", height="20")
            iframe(src="http://ghbtns.com/github-btn.html?user=naoyeye&repo=Perber&type=fork&count=true",
  allowtransparency="true", frameborder="0", scrolling="0", width="95", height="20")

    .noticeWrap


    audio(id="chatAudio")
        source(src="/audio/notify.ogg", type="audio/ogg")
        source(src="/audio/notify.mp3", type="audio/mpeg")
        source(src="/audio/notify.wav", type="audio/wav")
    audio(id="deletedAudio")
        source(src="/audio/del.ogg", type="audio/ogg")
        source(src="/audio/del.mp3", type="audio/mpeg")
        source(src="/audio/del.wav", type="audio/wav")

    include templates/chat_tmpl

    //- script(src="js/player/jquery.transform.js")
    script(src="/js/libs/jquery.browser.min.js")
    script(src="/js/player/player.jquery.rotate.js")
    script(src="/js/player/player.jquery.grab.js")
    script(src="/js/player/player.jquery.jplayer.min.js")
    //- script(src="js/player/player.zen.js")
    script(src="/js/player/zenplayer.js")

    //- script(src="js/player/mod.csstransforms.min.js")
    //- script(src="js/player/circle.player.js")

    script(src="/js/socket.io.js")
    script(defer, src="/js/plugins.min.js")
    script(defer, src="/js/perber.js")
