extends layout

block content
    .wrap
        header

        .content(role='main')
            .chat
                .history

                .current

            .line-chat
            .line-chat.second

            .chat-input
                input.text(type='text', name='', placeholder="Your Message", value='')


    include templates/chat_tmpl

    script(defer, src="/js/plugins.js")
    script(defer, src="/js/libs/ICanHaz.min.js")
    script(src="/socket.io/socket.io.js")

    script(defer, src="/js/perber.js")
