extends layout

block content
    .wrap
        .content(role="main")

            #onlineCount
                span#number
                span#action

            ul#Tips
                li#about
                    i.fa.fa-circle-o
                    span About Perber
                li#usage
                    i.fa.fa-question-circle
                    span Usage

            #drop_zone.chat-input(data-bucket="#{bucket_name}", data-step="1", data-position="bottom", data-tooltipClass="step_1", data-intro="输入文字，或者把图片拖拽到这里。支持微博图片、instagram图片、虾米音乐链接。在这里发布的任何消息，都会实时显示在其他用户的眼前。")
                .ui.form
                    .field
                        textarea(placeholder="Say something", maxlength="240")
                #upimg

            .chat-list
                #important(data-step="2", data-position="bottom", data-tooltipClass="step_2", data-intro="这是置顶的内(guang)容(gao)，Perber会在这里不定期地推荐一些有意思的东西")
                    .chat-box
                        //- .fixed_block
                        //-     .ui.right.teal.corner.label(title="通知")
                        //-         i.fa-bullhorn.fa
                        //-     | ╰(*￣0￣*)╯ 怎么玩儿：<br><br>
                        //-     | 1. 在顶部的输入框输入文字，或者把图片拖拽到输入框中。支持虾米音乐和instagram、新浪微博图片。<br><br>
                        //-     | 2. 长按，删除某条内容。<mark>如果不想让自己发的内容被删掉，可以点击“有空”——如果还有空的话——提交你的联系方式。名额只有 1 个，4月1日之前免费。</mark><br><br> 
                        //-     | 3. “网站介绍”神马的点击右上角的图标就好了，反正也没人看。对技术感兴趣的可以去<a target="_blank" href="https://github.com/naoyeye/Perber">这里</a>看代码，简单的<mark>socket.io + node.js</mark>。好了，飞走~~ ʅ(‾◡◝)ʃ


                        //- //- card 1 bg+text
                        //- .fixed_block.card_3
                        //-     .ui.right.teal.corner.label(title="友情置顶")
                        //-         i.fa-smile-o.fa
                        //-     .ta_cont
                        //-         h4 调查：要不要增加“投票”功能？
                        //-         p <strong>功能描述：</strong><br><br>为了保证Perber中的内容质量，计划增加投票功能：每个人都可以对内容进行“赞”和“踩”。<br>如果某条内容得到的“赞”比“踩”多，则在一定时期内(一周？)不能删除；反之，则可以随时被任何人删除。
                        //-         #vote_bar
                        //-         #vote_info 此调查会在4月3日截止



                        //- card 0 apply
                        //- .fixed_block.null
                        //-     #front
                        //-         .ui.right.teal.corner.label(title="虚位以待")
                        //-             i.fa-lock.fa
                        //-         .imgbox
                        //-             a.ta_cover(href="javascript:void(0);")
                        //-     #back
                        //-         #back2front.circular.ui.icon.button(title="返回")
                        //-             i.fa.fa-chevron-left
                        //-         .ui.form
                        //-             .ui.message
                        //-                 ul.list
                        //-                     li 如果不清楚这个位置是干嘛用的，请参考“怎么玩儿”的第2条规则。
                        //-                     li 提交后，会有人联系你，问你到底想干嘛。没搞明白这个是干嘛之前别乱提交。
                        //-             .field
                        //-                 label 你叫啥(网名之类的称呼也可以)
                        //-                 input#input_name(type="text",placeholder="输入称呼",name="name", maxlength="20")
                        //-             .field
                        //-                 label 邮箱地址(*必填)
                        //-                 input#input_email(type="email",placeholder="输入邮箱地址",name="email")
                        //-             .field(style="text-align:center")
                        //-                 #applyBtn.ui.button.green
                        //-                     | 写好了，提交


                        //- card blocking
                        .fixed_block.card_4
                            .ui.right.teal.corner.label(title="友情置顶")
                                i.fa-star.fa
                            .imgbox
                                a.ta_cover(style="background-image:url(http://ww1.sinaimg.cn/large/61b8bbf4gw1ef4r7amb9jj20go0jgq4w.jpg); background-size:cover;")
                                .ta_cont
                                    p
                                        span
                                            a( title="去 APP store 下载", href="https://itunes.apple.com/cn/app/same/id531761928?mt=8", target="_blank", style="display:block; font-size: 0;height: 90px;margin-top: 25px;margin-left: 100px;margin-right: 100px;")
                                                | 去 APP store 下载

                        .fixed_block.card_4
                            .ui.right.teal.corner.label(title="友情置顶")
                                i.fa-star.fa
                            .imgbox
                                a.ta_cover(style="background-image:url(http://ww4.sinaimg.cn/large/ed133892gw1eegi25aklrj20hv0m8q3y.jpg); background-size:cover;")

                                .ta_cont
                                    p Sean Malto
                                        span
                                            | 由 <a href="http://www.douban.com/people/coolzi/" target="_blank">彼得潘</a> 投递

                        .fixed_block.card_4
                            .ui.right.teal.corner.label(title="友情置顶")
                                i.fa-star.fa
                            .imgbox
                                a.ta_cover(style="background-image:url(http://ww4.sinaimg.cn/large/61b8bbf4gw1ef4swkg0arj20go0jgdj0.jpg); background-size:cover;")
                                .ta_cont
                                    p(style="padding-top: 300px;line-height:50px;")
                                        span(style="font-size:20px;padding-top:0;font-weight:bold;")
                                            a(href="http://www.freundevonfreunden.com/", target="_blank", style="color:#fff;")
                                                | Freunde von Freunden

                        //- card 1 bg+text
                        //- .fixed_block.card_1
                        //-    .ui.right.teal.corner.label(title="友情置顶")
                        //-        i.fa-star.fa
                        //-    .imgbox
                        //-        .ta_cont
                        //-            p(style="font-size:38px; font-style='normal'; font-family:'Special Elite', cursive,Georgia,Cambria,'Times New Roman',Times,serif")
                        //-                | <i class="fa fa-quote-left"></i> I miss you. <br> I love you. <i class="fa fa-quote-right"></i>
                        //-                span
                        //-                    | —— nobody 2014.04.03


                        //- card 2 bg+short text
                        .fixed_block
                            .ui.right.teal.corner.label(title="友情置顶")
                                i.fa-star.fa
                            .imgbox
                                a.ta_cover(style="background-image:url(http://ww2.sinaimg.cn/large/ed133892gw1ee53b743uyj20go0gognh.jpg);background-size: cover;")
                                .ta_title
                                    a(href="http://www.wandoujia.com/join", target="_blank")
                                        | (╭￣3￣)╭♡ &nbsp; 加入豌豆荚
                .chat(data-step="3",
                    data-position="top",
                    data-tooltipClass="step_3",
                    data-intro= "这里是大家发的消息（如果是空的，那就是有人把消息都删除了）。如果你觉得某条消息没意思，也可以一直按着它，然后点击“X”将它删除掉。任何人都可以删除这个页面里的所有消息。消息被删除时，它也会实时地从其他人眼前消失。就是这样了。")

    .noticeWrap


    audio(id="chatAudio")
        source(src="/audio/notify.ogg", type="audio/ogg")
        source(src="/audio/notify.mp3", type="audio/mpeg")
        source(src="/audio/notify.wav", type="audio/wav")
    audio(id="deletedAudio")
        source(src="/audio/del.ogg", type="audio/ogg")
        source(src="/audio/del.mp3", type="audio/mpeg")
        source(src="/audio/del.wav", type="audio/wav")

    include templates/chat_tmpl

    script(src="js/player/jquery.transform.js")
    script(src="js/player/jquery.grab.js")
    script(src="js/player/jquery.jplayer.js")
    script(src="js/player/mod.csstransforms.min.js")
    script(src="js/player/circle.player.js")

    script(src="/socket.io/socket.io.js")
    script(defer, src="/js/plugins.min.js")
    script(defer, src="/js/perber.js")
