extends layout

block content
    .wrap
        .content(role='main')

            .chat-input
                .ui.form
                    .field
                        textarea(placeholder="Say somthing")

            .chat-list
                .chat

                    //.current
                    //.history



    include templates/chat_tmpl

    script(defer, src="/js/plugins.js")
    script(defer, src="/js/libs/ICanHaz.min.js")
    script(src="/socket.io/socket.io.js")

    script(defer, src="/js/perber.js")
