extends layout

block content
    audio(id="chatAudio")
        source(src="/audio/notify.ogg", type="audio/ogg")
        source(src="/audio/notify.mp3", type="audio/mpeg")
        source(src="/audio/notify.wav", type="audio/wav")
    audio(id="deletedAudio")
        source(src="/audio/del.ogg", type="audio/ogg")
        source(src="/audio/del.mp3", type="audio/mpeg")
        source(src="/audio/del.wav", type="audio/wav")
    .wrap
        .content(role='main')

            .chat-input
                .ui.form
                    .field
                        textarea(placeholder="Say somthing")

            .chat-list
                // .loading
                //     i.fa.fa-spinner.fa-spin

                .chat

                    //.current
                    //.history



    include templates/chat_tmpl

    script(defer, src="/js/plugins.js")
    script(defer, src="/js/libs/ICanHaz.min.js")
    script(src="/socket.io/socket.io.js")

    script(defer, src="/js/perber.js")
